body{
 background-color:blue;

}

h1{
  font-size: 875Spx;
font-family: 'Roboto Slab', serif;
    text-align:centre;


}
p{color: darkblue;
   font-family: 'Roboto Slab', serif;
    font-size:870%




}
