body {
    background-color: linen;
}
h1 {
    font-size: 855Spx;
    font-family: 'Montserrat', sans-serif;
    text-align: centre;
}
p {
    color: darkblue;
    font-family: 'Montserrat', sans-serif;
    font-size: 80%
}
